<form [formGroup]="form">
  <div class="form-group inline">
    <label class="col-md-4 small">First name</label>
    <input type="text" class="form-control" formControlName="firstname" #firstname/>
    <div *ngIf="form.controls['firstname'].invalid && (form.controls['firstname'].dirty || form.controls['firstname'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['firstname'].errors.required">
      </div>
      This field is required
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 small">Second name</label>
    <input type="text" class="form-control" formControlName="secondname" #secondname/>
  </div>
  <div class="form-group">
    <label class="col-md-4 small">Pesel</label>
    <input type="text" class="form-control" formControlName="pesel" #pesel/>
    <div *ngIf="form.controls['pesel'].invalid && (form.controls['pesel'].dirty || form.controls['pesel'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['pesel'].errors.required">
        This field is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 small">Sex</label>
    <input type="text" class="form-control" formControlName="sex" #sex/>
    <div *ngIf="form.controls['sex'].invalid && (form.controls['sex'].dirty || form.controls['sex'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['sex'].errors.required">
        This field is required.
      </div>
    </div>
  </div>
  <div class="btn-wrapper">&nbsp;
    <button mat-button class="btn btn-default btn-step" (click)="addChild(firstname.value, secondname.value, pesel.value, sex.value)">Save child</button>
    <button mat-button matStepperNext class="btn btn-default btn-step small">Skip</button>
  </div>
</form>
