<div class="container-fluid design-bg" id="menu">
  <div class="row text-center">
    <div class="col-lg-12">
      <h3 class="display-3" id="app-title" >Family creator</h3>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-4 col-lg-4">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="fatherCreatorStep.form">
          <ng-template matStepLabel>Create father</ng-template>
          <father-creator #fatherCreatorStep></father-creator>
        </mat-step>
        <mat-step [stepControl]="childCreatorForm" optional>
          <ng-template matStepLabel>Create child</ng-template>
          <child-creator #childCreatorStep></child-creator>
        </mat-step>
        <mat-step>
           <ng-template matStepLabel>Done</ng-template>
           You are now done.
           <div>
             <button mat-button (click)="finish()" matStepperPrevious>Create family!</button>
             <button mat-button (click)="stepper.reset()">Reset</button>
           </div>
         </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
