<div class="obscure-bg">&nbsp;</div>
<div class="container-fluid design-bg" id="menu">
  <div class="row">
    <div class="col-lg-3">
      <div class="full-width full-height">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="display-3 bold">search</h3>
          </div>
        </div>
        <div class="row">
          <form [formGroup]="filterForm" class="filter-panel form">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label small">First name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="firstname" #firstname/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label small">Second name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="secondname" #secondname/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label small">Pesel</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="pesel" #pesel/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label small">Sex</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="sex" #sex/>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-lg-8 col-lg-2">
                <button class="btn btn-default" (click)="search()">Search</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>

    <div class="offset-lg-1 col-lg-8 mat-elevation-z8">
      <table mat-table matSort  [dataSource]="dataSource" class="block">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element">{{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
        <ng-container matColumnDef="second name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Second name </th>
          <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
        </ng-container>
        <ng-container matColumnDef="pesel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pesel </th>
          <td mat-cell *matCellDef="let element"> {{element.pesel}} </td>
        </ng-container>
        <ng-container matColumnDef="born">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
          <td mat-cell *matCellDef="let element"> {{element.born}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="block"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showFamily(row)"></tr>
      </table>
      <mat-paginator [pageSize]="12">
      </mat-paginator>
    </div>
  </div>
</div>
