<div class="obscure-bg">&nbsp;</div>
<div class="container-fluid design-bg" id="menu">
  <div class="row">
    <div class="col-lg-3 block">
      <div class="full-width full-height">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="display-3 bold">search</h3>
          </div>
        </div>
        <div class="row">
          <form [formGroup]="filterForm" class="filter-panel">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label small">First name</label>
              <div class="col-sm-8">
                <input type="text" class="filter-input" formControlName="firstname" #firstname/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label small">Second name</label>
              <div class="col-sm-8">
                <input type="text" class="filter-input" formControlName="secondname" #secondname/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label small">Pesel</label>
              <div class="col-sm-8">
                <input type="text" class="filter-input" formControlName="pesel" #pesel/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label small">Sex</label>
              <div class="col-sm-8">
                <input type="text" class="filter-input" formControlName="sex" #sex/>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-lg-8 col-lg-2">
                <button class="btn btn-default" (click)="search()">Search</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>

    <div class="offset-lg-1 col-lg-8 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
        <ng-container matColumnDef="second name">
          <th mat-header-cell *matHeaderCellDef> Secondname </th>
          <td mat-cell *matCellDef="let element"> {{element.secondname}} </td>
        </ng-container>
        <ng-container matColumnDef="pesel">
          <th mat-header-cell *matHeaderCellDef> Pesel </th>
          <td mat-cell *matCellDef="let element"> {{element.pesel}} </td>
        </ng-container>
        <ng-container matColumnDef="born">
          <th mat-header-cell *matHeaderCellDef> Birthday </th>
          <td mat-cell *matCellDef="let element"> {{element.born}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
