<div class="container-fluid design-bg" id="menu">
  <header></header>
  <div class="row">
    <div class="offset-lg-4 col-lg-4">
      <div class="menu-item-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <a routerLink="creator"><button class="btn btn-default btn-menu">Create family</button></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a routerLink="search"><button class="btn btn-default btn-menu">Search family</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
